/* Mentions Légales */

.mentions-legales-section {
    padding: 60px 0;
}

.mentions-legales-section h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1e1e1e;
    margin-bottom: 30px;
}

.accordion .card-header {
    background-color: #EEE;
    border: none;
}

.accordion .btn-link {
    color: #0d6efd;
    text-decoration: none;
}

.accordion .btn-link:hover {
    color: #298eff;
}

.accordion .card-body {
    background-color: #FFF;
    border-top: 1px solid #444;
}
