/* Global Styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EEE;
    color: #444;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #1e1e1e;
}

a {
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #298eff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



/* Button for scroll top */
.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #298eff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

